// Buttons, nav, icons

.button {
  display: inline-block;
  padding: 0.7em 2em !important;
  border-radius: $border-radius;
  border: none;
  // background: $primary-btn-bg;
  background: #2E2E2E;
  color: $main-bg;
  font-size: 16px !important;
  font-weight: 550;
  margin: 0.5em 0;
  cursor: pointer;
  transition: background 0.2s;
  &:hover {
    background: $primary;
  }
  // Desktop, större padding/font
  @media (min-width: $breakpoint-lg) {
    padding: 1em 3em;
    font-size: 1.1rem;
  }
}

.buttons-row {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
}

.social-row {
  display: flex;
  gap: 1rem;
  justify-content: center;
}


// .theme-toggle {
//   display: flex;
//   flex-direction: row;
//   justify-self: flex-start !important;
//   gap: 1em;
//         align-items: center;
//   margin-top: 2rem;
//   margin-right: 2em;
//        background-color: #b9e702;

//   label {
//     font-size: 1em;
//     cursor: pointer;
//     color: var(--text-color);

//     input[type="radio"] {
//       margin-left: 0.3em;
//       accent-color: #222;
//     }
//   }
// }

.theme-toggle {
  display: flex;
  justify-content: flex-end; 
  width: 85%;
  padding: 2rem 2rem 0 2rem; 
  gap: 1rem;

  label {
    font-size: 1em;
    cursor: pointer;
    color: var(--text-color);

    input[type="radio"] {
      margin-left: 0.3em;
      accent-color: #222;
    }
  }
}



.night .theme-toggle label {
  color: var(--text-dark);
}
.night .theme-toggle input[type="radio"] {
  accent-color: #ffffff;
}
