button.index-test-btn{
    // padding: 10px;
    // padding: 1rem;
    border: solid black 3px;
    border-radius: 6px;
    box-shadow: 4px 5px 1px 0.1px #222 ;
    color: black !important;
    // width: 80%;
    width: auto;
    min-width: 100px;
    padding: 1rem 1.5rem;
    height: auto;
    // min-width: 20%;
    transition: all 0.09s ease-in-out;
  
  
  
  
    a{
      color: black;
      font-size: larger;
      font-weight: 600;
 
    }
    p{
             width: 20% !important;    
             align-items: start;
             text-align: start !important;
    }
  
  }
  
  index-test-btn:active {
    transform: translate(2px, 2px);
    box-shadow: 1px 1px 1px 0.5px #222;
  }
  