// Containers, grids, sektioners flex/grid

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 2rem 1rem;
  background: transparent;
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

// text + profile image
.profile-section {
  display: flex;
  flex-direction: column;   // MOBIL först (staplat)
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

// text, buttons
// .profile-content {
//   display: flex;
//   flex-direction: column;
//   align-items: center; 
// }
.profile-content {
  flex-direction: column;
  align-items: center; 
}

// Desktop & större plattor
@media (min-width: $breakpoint-lg) {
  .main-container {
    flex-direction: column; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 2rem;
  }
  .profile-section {
    flex-direction: row;      
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .profile-content {
    align-items: flex-end;   
    text-align: right;
  }
}

// horizontal view/platta
@media (min-width: $breakpoint-md) and (max-width: 1024px) and (orientation: landscape) {
  .profile-section {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .profile-content {
    align-items: flex-end;
    text-align: right;
  }
}


.social-row{
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  // border:  black solid 2px;
  height: 50px;
  gap: 10px;
  padding: 20px;
  
}

.about-me-conatiner{
  margin-top: 2rem;
}

footer{
  display: flex;
  justify-content: center;
}