//Colors, breakpoints, padding mm

$main-bg: #FEFEFE;
$text-light: #554d56;
$text-dark: #FEFEFE;
$primary: #d87093;
$primary-btn-bg: #404040;
$border-radius: 0.5em;

$breakpoint-md: 600px;
$breakpoint-lg: 900px;
$breakpoint-xl: 1200px;